:root {
  --text: #141f0e;
  --background: #fffcf0;
  --primary: #6e7263;
  --secondary: #dfd9e8;
  --accent: #fcfcfc;
  --journalist: #657936;
  --artist: #f49dee;
  --educator: #a095dd;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--accent);
}